// @Author: Vilà Albiol, Xavi <xavi>
// @Date:   28-Nov-2016
// @Email:  txiverke@gmail.com
// @Project: Cookio
// @Last modified by:   xavi
// @Last modified time: 29-Nov-2016

.main-title {
    font-family: Lighter;
    font-size: $huge;
    padding: 40px 0 0;
    color: $textColor;
}

.hr-1 {
    border-top: 1px solid #e1e1e1;
    width: 90%;
    margin-bottom: 15px;
}
