// @Author: Vilà Albiol, Xavi <xavi>
// @Date:   15-Nov-2016
// @Email:  txiverke@gmail.com
// @Project: Cookio
// @Last modified by:   xavi
// @Last modified time: 15-Nov-2016

html {
    font-family: Normal;
    font-size: 16px;
    background: #f1f1f1 !important;
    min-height: 100%;
}
