// @Author: Vilà Albiol, Xavi <xavi>
// @Date:   15-Nov-2016
// @Email:  txiverke@gmail.com
// @Project: Cookio
// @Last modified by:   xavi
// @Last modified time: 14-Dec-2016

.header{
    display: flex;
    flex-direction: row;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: $z-index-1;
    .header-logo {
        margin: 0;
        img{
            padding: 8px;
        }
    }
    .header-navWrapper {
        margin-left: auto;
        z-index: $z-index-10;
        .header-background {
            @include transition3s;
            position: fixed;
            background: white;
            top: 66px;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            $z-index: $z-index-1;
            &.open {
                display: block;
                opacity: 0.8
            }
            &.close {
                opacity: 0
            }
        }
        .header-navRight {
            @include transition3s;
            position: fixed;
            background: $textColor;
            width: 80%;
            height: 100%;
            min-height: 100%;
            top: 0;
            padding: 0;
            margin: 0;
            list-style: none;
            z-index: $z-index-10;
            .header-navRightItem {
                > a {
                    @include transition3s;
                    font-family: Lighter;
                    display: block;
                    padding: 20px ;
                    background: $textColor;
                    color: white;
                    text-decoration: none;
                    &:hover,
                    &:active {
                        @include transition3s;
                        background: darken($textColor, 10);
                        color: white;
                    }
                    > [class^="icon-"],
                    [class*=" icon-"] {
                        color: $secondColor;
                        font-size: 1.1rem;
                        margin-right: 15px;
                    }
                }
                &:first-child{
                    a {
                        border-top: 1px solid #f1f1f1;
                    }
                }
            }
            &.open {
                left: 0;
            }
            &.close{
                left: -80%;
            }
        }
        .header-navItems {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 0;
            padding: 0;
            z-index: $z-index-10;

            .header-navItem {
                @include transition3s;
                &:hover,
                &:active {
                    @include transition3s;
                    background: $mainColor;
                    > * {
                        color: white;
                    }
                }
                > a, > span {
                    display: block;
                    color: $titleColor;
                    text-decoration: none;
                    border-left: 1px solid #f1f1f1;
                    padding: 24px;
                }
                > a {
                    font-family: Lighter;
                }
                > span {
                    font-size: 1.15rem;
                    cursor: pointer;
                }
            }
        }
    }
}
